In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [11]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
df=pd.read_csv("/content/drive/MyDrive/TrainData/Train_Vehicle.csv")

In [13]:
df1=df.pivot_table("VehicleAttributeDetails", ["CustomerID"], "VehicleAttribute", aggfunc="first") .reset_index() .rename_axis(columns=None)
df1

      CustomerID     VehicleID VehicleMake VehicleModel VehicleYOM
0      Cust10000  Vehicle26917        Audi           A5       2008
1      Cust10001  Vehicle15893        Audi           A5       2006
2      Cust10002   Vehicle5152  Volkswagen        Jetta       1999
3      Cust10003  Vehicle37363  Volkswagen        Jetta       2003
4      Cust10004  Vehicle28633      Toyota          CRV       2010
...          ...           ...         ...          ...        ...
28831   Cust9993  Vehicle13568      Suburu      Impreza       2007
28832   Cust9994  Vehicle19810        Jeep     Wrangler       2003
28833   Cust9996   Vehicle3339      Suburu       Legacy       2004
28834   Cust9997  Vehicle10240      Suburu    Forrestor       2004
28835   Cust9999  Vehicle39163      Suburu         E400       2007

[28836 rows x 5 columns]

In [14]:
#Reading files using pandas
df1=pd.read_csv("/content/drive/MyDrive/TrainData/Train_Claim.csv")
df2=pd.read_csv("/content/drive/MyDrive/TrainData/Train_Demographics.csv")
df3=pd.read_csv("/content/drive/MyDrive/TrainData/Train_Policy.csv")
df4=pd.read_csv("/content/drive/MyDrive/TrainData/Train_Vehicle_new.csv")
df5=pd.read_csv("/content/drive/MyDrive/TrainData/Traindata_with_Target.csv")

In [15]:
#checking shape of each datasets
print("df1:",df1.shape)
print("df2:",df2.shape)
print("df3:",df3.shape)
print("df4:",df4.shape)
print("df5:",df5.shape)

df1: (28836, 19)
df2: (28836, 10)
df3: (28836, 10)
df4: (28836, 5)
df5: (28836, 2)

In [16]:
#merging all datasets based on "CstomerID"
sample_1=pd.merge(df1,df2)
sample_2=pd.merge(sample_1,df3)
sample_3=pd.merge(sample_2,df4)
master=pd.merge(sample_3,df5)

In [17]:
master.head()

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,...,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredRelationship,VehicleID,VehicleMake,VehicleModel,VehicleYOM,ReportedFraud
0,Cust10000,2015-02-03,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17,...,100/300,1000,1632.73,0,not-in-family,Vehicle26917,Audi,A5,2008,N
1,Cust10001,2015-02-02,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City5,Location 1311,10,...,100/300,1000,1255.19,0,not-in-family,Vehicle15893,Audi,A5,2006,N
2,Cust10002,2015-01-15,Single Vehicle Collision,Side Collision,Minor Damage,Other,State8,City6,Location 2081,22,...,500/1000,617,1373.38,0,wife,Vehicle5152,Volkswagen,Jetta,1999,N
3,Cust10003,2015-01-19,Single Vehicle Collision,Side Collision,Minor Damage,Other,State9,City6,Location 2081,22,...,500/1000,722,1337.60,0,own-child,Vehicle37363,Volkswagen,Jetta,2003,N
4,Cust10004,2015-01-09,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State8,City6,Location 1695,10,...,100/300,500,1353.73,4279863,unmarried,Vehicle28633,Toyota,CRV,2010,N

In [18]:
# Making a list of missing value types
missing_values = ["MISSEDDATA","NA","?","MISSINGVALUE","???",-5,"MISSINGVAL",-1,"N/A","na"]

In [19]:
#we create one missing values list by using that if that comes in any place we replace it with nan
for column in master.columns:
    for missing in missing_values:
        master[column] = np.where(master[column]==missing, np.NaN, master[column])

In [20]:
master.isna().sum()

CustomerID                        0
DateOfIncident                    0
TypeOfIncident                    0
TypeOfCollission               5162
SeverityOfIncident                0
AuthoritiesContacted              0
IncidentState                     0
IncidentCity                      0
IncidentAddress                   0
IncidentTime                     31
NumberOfVehicles                  0
PropertyDamage                10459
BodilyInjuries                    0
Witnesses                        46
PoliceReport                   9805
AmountOfTotalClaim               50
AmountOfInjuryClaim               0
AmountOfPropertyClaim             0
AmountOfVehicleDamage             0
InsuredAge                        0
InsuredZipCode                    0
InsuredGender                    30
InsuredEducationLevel             0
InsuredOccupation                 0
InsuredHobbies                    0
CapitalGains                      0
CapitalLoss                       0
Country                           2
InsurancePolicyNumber             0
CustomerLoyaltyPeriod             0
DateOfPolicyCoverage              0
InsurancePolicyState              0
Policy_CombinedSingleLimit        0
Policy_Deductible                 0
PolicyAnnualPremium             141
UmbrellaLimit                     0
InsuredRelationship               0
VehicleID                         0
VehicleMake                      50
VehicleModel                      0
VehicleYOM                        0
ReportedFraud                     0
dtype: int64

In [21]:
#train['AmountOfTotalclaim'].as type(int)

In [22]:
master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28836 entries, 0 to 28835
Data columns (total 42 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CustomerID                  28836 non-null  object
 1   DateOfIncident              28836 non-null  object
 2   TypeOfIncident              28836 non-null  object
 3   TypeOfCollission            23674 non-null  object
 4   SeverityOfIncident          28836 non-null  object
 5   AuthoritiesContacted        28836 non-null  object
 6   IncidentState               28836 non-null  object
 7   IncidentCity                28836 non-null  object
 8   IncidentAddress             28836 non-null  object
 9   IncidentTime                28805 non-null  float64
 10  NumberOfVehicles            28836 non-null  float64
 11  PropertyDamage              18377 non-null  object
 12  BodilyInjuries              28836 non-null  float64
 13  Witnesses                   28790 non-null  object
 14  PoliceReport                19031 non-null  object
 15  AmountOfTotalClaim          28786 non-null  object
 16  AmountOfInjuryClaim         28836 non-null  float64
 17  AmountOfPropertyClaim       28836 non-null  float64
 18  AmountOfVehicleDamage       28836 non-null  float64
 19  InsuredAge                  28836 non-null  float64
 20  InsuredZipCode              28836 non-null  float64
 21  InsuredGender               28806 non-null  object
 22  InsuredEducationLevel       28836 non-null  object
 23  InsuredOccupation           28836 non-null  object
 24  InsuredHobbies              28836 non-null  object
 25  CapitalGains                28836 non-null  float64
 26  CapitalLoss                 28836 non-null  float64
 27  Country                     28834 non-null  object
 28  InsurancePolicyNumber       28836 non-null  float64
 29  CustomerLoyaltyPeriod       28836 non-null  float64
 30  DateOfPolicyCoverage        28836 non-null  object
 31  InsurancePolicyState        28836 non-null  object
 32  Policy_CombinedSingleLimit  28836 non-null  object
 33  Policy_Deductible           28836 non-null  float64
 34  PolicyAnnualPremium         28695 non-null  float64
 35  UmbrellaLimit               28836 non-null  float64
 36  InsuredRelationship         28836 non-null  object
 37  VehicleID                   28836 non-null  object
 38  VehicleMake                 28786 non-null  object
 39  VehicleModel                28836 non-null  object
 40  VehicleYOM                  28836 non-null  float64
 41  ReportedFraud               28836 non-null  object
dtypes: float64(16), object(26)
memory usage: 9.5+ MB

In [23]:
master['TypeOfCollission'].fillna(master['TypeOfCollission'].mode()[0],inplace=True)
master['AmountOfTotalClaim'].fillna(master['AmountOfTotalClaim'].median(),inplace=True)
master['IncidentTime'].fillna(master['IncidentTime'].median(),inplace=True)
master['Witnesses'].fillna(master['Witnesses'].mode()[0],inplace=True)
master['InsuredGender'].fillna(master['InsuredGender'].mode()[0],inplace=True)
master['Country'].fillna(master['Country'].mode()[0],inplace=True)
master['PolicyAnnualPremium'].fillna(master['PolicyAnnualPremium'].mean(),inplace=True)
master['VehicleMake'].fillna(master['VehicleMake'].mode()[0],inplace=True)
master['PoliceReport'].fillna(master['PoliceReport'].mode()[0],inplace=True)

In [24]:
master['AmountOfTotalClaim'] = master['AmountOfTotalClaim'].astype('int')

In [25]:
master.isna().sum()

CustomerID                        0
DateOfIncident                    0
TypeOfIncident                    0
TypeOfCollission                  0
SeverityOfIncident                0
AuthoritiesContacted              0
IncidentState                     0
IncidentCity                      0
IncidentAddress                   0
IncidentTime                      0
NumberOfVehicles                  0
PropertyDamage                10459
BodilyInjuries                    0
Witnesses                         0
PoliceReport                      0
AmountOfTotalClaim                0
AmountOfInjuryClaim               0
AmountOfPropertyClaim             0
AmountOfVehicleDamage             0
InsuredAge                        0
InsuredZipCode                    0
InsuredGender                     0
InsuredEducationLevel             0
InsuredOccupation                 0
InsuredHobbies                    0
CapitalGains                      0
CapitalLoss                       0
Country                           0
InsurancePolicyNumber             0
CustomerLoyaltyPeriod             0
DateOfPolicyCoverage              0
InsurancePolicyState              0
Policy_CombinedSingleLimit        0
Policy_Deductible                 0
PolicyAnnualPremium               0
UmbrellaLimit                     0
InsuredRelationship               0
VehicleID                         0
VehicleMake                       0
VehicleModel                      0
VehicleYOM                        0
ReportedFraud                     0
dtype: int64

In [26]:
master=master.drop(columns=['PropertyDamage','CustomerID','InsuredRelationship','DateOfIncident','IncidentAddress','IncidentCity','IncidentState','InsuredHobbies','DateOfPolicyCoverage','Country','InsuredZipCode'])

In [27]:
master.shape

(28836, 31)

In [28]:
cat_col=['TypeOfIncident','TypeOfCollission','SeverityOfIncident','AuthoritiesContacted',
                         
          'PoliceReport','InsuredGender','InsuredEducationLevel','InsuredOccupation',
          'InsurancePolicyState','Policy_CombinedSingleLimit',        
          'ReportedFraud','VehicleID','VehicleMake','VehicleModel','VehicleYOM']
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for col in cat_col:
    master[col]= le.fit_transform(master[col])

In [29]:
master.head()

,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,PoliceReport,AmountOfTotalClaim,...,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,VehicleID,VehicleMake,VehicleModel,VehicleYOM,ReportedFraud
0,0,2,2,4,17.0,3.0,1.0,0,0,65501,...,0,1,1000.0,1632.73,0.0,13692,1,5,13,0
1,0,2,2,4,10.0,3.0,2.0,1,1,61382,...,0,1,1000.0,1255.19,0.0,4572,1,5,11,0
2,2,2,1,3,22.0,1.0,2.0,3,0,66755,...,2,6,617.0,1373.38,0.0,25249,13,20,4,0
3,2,2,1,3,22.0,1.0,2.0,3,0,66243,...,1,6,722.0,1337.60,0.0,22267,13,20,8,0
4,2,1,1,1,10.0,1.0,2.0,1,1,53544,...,1,1,500.0,1353.73,4279863.0,15080,12,8,15,0

In [32]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
train_scaled=pd.DataFrame(min_max.fit_transform(x))

In [ ]:
train_scaled

In [34]:
#test



df2=pd.read_csv("/content/drive/MyDrive/TestData/Test_Vehicle.csv")

In [ ]:
df3=df2.pivot_table("VehicleAttributeDetails", ["CustomerID"], "VehicleAttribute", aggfunc="first") .reset_index() .rename_axis(columns=None) 
df3

In [36]:
n1=pd.read_csv("/content/drive/MyDrive/TestData/Test_Claim.csv")
n2=pd.read_csv("/content/drive/MyDrive/TestData/Test_Demographics.csv")
n3=pd.read_csv("/content/drive/MyDrive/TestData/Test_Policy.csv")
n4=pd.read_csv("/content/drive/MyDrive/TestData/Test.csv")
n5=df3

In [37]:
print(n1.shape)
print(n2.shape)
print(n3.shape)
print(n4.shape)
print(n5.shape)

(8912, 19)
(8912, 10)
(8912, 10)
(8912, 1)
(8912, 5)

In [38]:
fil1=pd.merge(n1,n2)
fil2=pd.merge(fil1,n3)
fil3=pd.merge(fil2,n4)
test=pd.merge(fil3,n5)

In [ ]:
test.head()

In [40]:

test.replace("?",np.nan,inplace=True)
test.replace("???",np.nan,inplace=True)
test.replace("MISSINGVALUE",np.nan,inplace=True)
test.replace("MISSEDDATA",np.nan,inplace=True)
test.replace(-1,np.nan,inplace=True)
test.replace(-5,np.nan,inplace=True)
test.replace("MISSINGVAL",np.nan,inplace=True)

In [ ]:
test.isna().sum()

In [42]:
test['TypeOfCollission'].fillna(test['TypeOfCollission'].mode()[0],inplace=True)
test['AmountOfTotalClaim'].fillna(test['AmountOfTotalClaim'].median(),inplace=True)
test['IncidentTime'].fillna(test['IncidentTime'].median(),inplace=True)
test['Witnesses'].fillna(test['Witnesses'].mode()[0],inplace=True)
test['InsuredGender'].fillna(test['InsuredGender'].mode()[0],inplace=True)
test['Country'].fillna(test['Country'].mode()[0],inplace=True)
test['PolicyAnnualPremium'].fillna(test['PolicyAnnualPremium'].mean(),inplace=True)
test['VehicleMake'].fillna(test['VehicleMake'].mode()[0],inplace=True)
test['PoliceReport'].fillna(test['PoliceReport'].mode()[0],inplace=True)

In [43]:
test['AmountOfTotalClaim'] = test['AmountOfTotalClaim'].astype('int')

In [44]:
test=test.drop(columns=['PropertyDamage','InsuredRelationship','DateOfIncident','IncidentAddress','DateOfPolicyCoverage','IncidentCity','IncidentState','InsuredHobbies','Country','InsuredZipCode'])

In [45]:
cat_col1=['TypeOfIncident','TypeOfCollission','SeverityOfIncident','AuthoritiesContacted',
                        
          'PoliceReport','InsuredGender','InsuredEducationLevel','InsuredOccupation',
          'InsurancePolicyState','Policy_CombinedSingleLimit',        
          'VehicleID','VehicleMake','VehicleModel','VehicleYOM']
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()

for col1 in cat_col1:
    test[col1]= le1.fit_transform(test[col1])

In [46]:
custid=test['CustomerID']
test.drop(['CustomerID'],axis=1,inplace=True)

In [47]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
test_scaled=pd.DataFrame(min_max.fit_transform(test))

In [ ]:
print(master.shape)
print(test.shape)

In [ ]:
#master.drop(['CapitalLoss'],axis=1,inplace=True)

In [ ]:
print(master.shape)
print(test.shape)

In [31]:
x=master.drop('ReportedFraud',axis=1)
y=master['ReportedFraud']
x.shape

(28836, 30)

In [ ]:
x

In [ ]:
print(master.shape)
print(test.shape)

In [ ]:
##from sklearn.linear_model import LogisticRegression
#logis=LogisticRegression()
#logis.fit(x,y)

In [67]:
#from sklearn.model_selection import train_test_split
#x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30905,random_state=42)

In [68]:
#y_test

20418    0
18027    1
8880     1
1288     0
10328    1
        ..
27560    0
6781     1
1194     0
17388    0
1712     0
Name: ReportedFraud, Length: 8912, dtype: int64

In [108]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(train_scaled,y)

RandomForestClassifier()

In [109]:
y_pred=rf.predict(test_scaled)

In [110]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [111]:
1 in y_pred

True

In [112]:
cor=np.bincount(y_pred)
print(cor[0])
print(cor[1])

7527
1385

In [90]:
result=pd.DataFrame({'CustomerID':custid,'ReportedFraud':y_pred})

In [91]:
result.to_csv('barath_13.csv',index=False)